/* source-sans-pro-regular - latin_cyrillic */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url("../fonts/source-sans-pro-v13-latin_cyrillic-regular.woff2") format('woff2'), url("../fonts/source-sans-pro-v13-latin_cyrillic-regular.woff") format('woff') /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */;
}
/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url("../fonts/roboto-v20-latin_cyrillic-500.woff2") format('woff2'), url("../fonts/roboto-v20-latin_cyrillic-500.woff") format('woff') /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */;
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url("../fonts/roboto-v20-latin_cyrillic-700.woff2") format('woff2'), url("../fonts/roboto-v20-latin_cyrillic-700.woff") format('woff') /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
body {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
  color: #333;
  overflow-x: hidden;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
.wrapper {
  max-width: 1920px;
  margin: auto;
}
.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 0 33px 0;
}
.header__logo {
  width: 370px;
  -ms-flex-negative: 1.5;
      flex-shrink: 1.5;
  text-align: right;
}
.header__nav {
  width: 1180px;
  padding-left: 2.8vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__item {
  padding-left: 1.3vw;
}
.header__link {
  color: #333;
  position: relative;
}
.header__link:hover {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  color: #f2264d;
}
.header__link:active {
  color: #d7153c;
}
.header__item .header__link:active::after {
  content: '';
  width: 100%;
  height: 5px;
  position: absolute;
  left: 0%;
  bottom: -250%;
  background-color: #f2264d;
  z-index: 1;
}
.header__logout {
  position: relative;
  margin-right: -6px;
}
.header__logout .header__logout-link {
  pointer-events: none /* This helps IE */;
}
.header__logout:hover .logout-link__svg--fil0 {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  fill-opacity: 0.5;
  fill: #eee;
}
.header__logout:hover .logout-link__svg--fil1 {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  fill: #f2264d;
}
.header__logout:hover .header__logout-hint {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
}
.header__logout:active .logout-link__svg--fil0 {
  fill: #f2264d;
}
.header__logout:active .logout-link__svg--fil1 {
  fill: #fff;
}
.header__site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  position: relative;
}
.header__avatar-image {
  border-radius: 50%;
}
.header__user-avatar {
  padding-right: 10px;
}
.header__user-name {
  padding-right: 22px;
}
.header__user-name::after {
  content: '';
  width: 1px;
  height: 30px;
  position: absolute;
  top: 3px;
  right: 32px;
  background: #e4e4e4;
}
.header__logout-hint {
  visibility: hidden;
  opacity: 0;
  width: 160px;
  height: 45px;
  position: absolute;
  top: 60px;
  left: -65px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(51,51,51,0.9)), to(rgba(51,51,51,0.9)));
  background: linear-gradient(0deg, rgba(51,51,51,0.9), rgba(51,51,51,0.9));
  border-radius: 2px;
  text-align: center;
  line-height: 42px;
  color: #fff;
  z-index: 1;
}
.header__logout-hint::before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 45%;
  border: 8px solid transparent; /* Прозрачные границы */
  border-bottom: 13px solid rgba(51,51,51,0.9); /* Добавляем треугольник */
}
.header__right {
  width: 370px;
  -ms-flex-negative: 3;
      flex-shrink: 3;
}
.title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid #efefef;
}
.title__wrapper {
  width: 1180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.title__welcome {
  width: 33.8983%;
  position: relative;
}
.title__welcome::before {
  content: '';
  position: absolute;
  left: 0%;
  top: 76%;
  width: 25%;
  height: 23.8095%;
  background-image: url("../img/title__decor-dots.png");
}
.title__welcome::after {
  content: '';
  position: absolute;
  left: 54.5%;
  top: 76%;
  width: 50%;
  height: 23.8095%;
  background-image: url("../img/title__decor-dots.png");
}
.title__caption {
  white-space: nowrap;
  font-family: 'Roboto';
  font-size: 58px;
  line-height: 62px;
  font-weight: 700;
  position: absolute;
  top: 19%;
  z-index: 1;
  position: relative;
}
.title__caption::before {
  content: '';
  width: 120px;
  height: 1px;
  position: absolute;
  top: 28%;
  left: -43%;
  background: #f2264d;
}
.title-descriptor {
  width: 350px;
  height: 70px;
  font-size: 16px;
  line-height: 22px;
  color: #333;
  position: absolute;
  top: 51.7%;
  z-index: 1;
}
.title__decor {
  width: 8.4748%;
  height: 100%;
  background: #fafafa;
  position: relative;
}
.title__decor::before {
  content: '';
  width: 100%;
  height: 23.8095%;
  position: absolute;
  top: 76.2%;
  background: #f2264d;
}
.title__image {
  position: relative;
}
.title__image::before {
  content: '';
  position: absolute;
  left: 97.5%;
  top: 28%;
  width: 14.7059%;
  height: 71.4286%;
  background-image: url("../img/title__decor-dots.png");
  z-index: -1;
}
.news {
  width: 100%;
  margin-top: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.news__wrapper {
  width: 1180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.news__title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
}
.news__items-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.news__items-wrapper::before {
  content: '';
  position: absolute;
  bottom: 43.1%;
  right: -6.95%;
  width: 8.4746%;
  height: 27.027%;
  background-image: url("../img/title__decor-dots.png");
  z-index: -1;
}
.novel {
  width: 32.2034%;
}
.novel .novel__link-wrapper {
  pointer-events: none /* This helps IE */;
}
.novel:hover .novel__caption {
  color: #f2264d;
}
.novel:hover .novel__image::before {
  background-color: rgba(247,35,75,0.5);
}
.novel:active .novel__caption {
  color: #d7153c;
}
.novel:active .novel__image::before {
  background-color: rgba(247,35,75,0.7);
}
.news__title {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 30px;
  line-height: 66px;
}
.news__link-all {
  font-family: 'Source Sans Pro';
  font-size: 16px;
  vertical-align: middle;
  line-height: 30px;
  color: #666;
  position: relative;
  padding-top: 20px;
  padding-right: 30px;
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.news__link-all:hover {
  color: #f2264d;
}
.news__link-all:hover .news__svg-arrow path {
  fill: #f2264d;
}
.news__link-all:active {
  color: #d7153c;
}
.news__link-all:active .news__svg-arrow path {
  fill: #d7153c;
}
.news__svg-arrow {
  position: absolute;
  right: 0%;
  bottom: 12%;
}
.novel__image {
  position: relative;
}
.novel__image::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.novel__options {
  padding: 0 20px 0 20px;
}
.novel__caption {
  padding: 18px 0 15px 0;
  font-family: 'Roboto';
  font-size: 20px;
  line-height: 26px;
  color: #333;
}
.novel__description {
  line-height: 20px;
  padding-right: 40px;
  color: #666;
}
.novel__date {
  padding-top: 17px;
  line-height: 18px;
  color: #ababab;
}
.feedback {
  width: 100%;
  margin-top: 119px;
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.feedback__wrapper {
  width: 1180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.feedback__wrapper::before {
  content: '';
  width: 370px;
  height: 500px;
  position: absolute;
  background-color: #f2264d;
  left: -370px;
}
.feedback__wrapper::after {
  content: '';
  position: absolute;
  width: 300px;
  height: 100px;
  bottom: 0%;
  right: -25%;
  background-image: url("../img/title__decor-dots.png");
}
.feedback__description {
  width: 32.2%;
  height: 500px;
  padding-top: 40px;
  background: #f2264d url("../img/feedback__question.svg") no-repeat 130% 100%;
  background-color: #f2264d;
  position: relative;
}
.feedback__description::before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: -235px;
  width: 26.3158%;
  height: 100px;
  background-image: url("../img/title__decor-dots.png");
}
.feedback__description::after {
  content: '';
  position: absolute;
  top: 100%;
  left: -370px;
  width: 26.3158%;
  height: 100px;
  background-image: url("../img/title__decor-dots.png");
}
.feedback__title {
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 30px;
  line-height: 66px;
  color: #fff;
}
.feedback__about-form {
  font-size: 16px;
  line-height: 22px;
  color: #fff;
}
.feedback__form {
  width: 67.8%;
  height: 500px;
  background-color: #fafafa;
  padding-top: 57px;
  padding-left: 5.5vmin;
}
.form__holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.form__item {
  width: 31.6438%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.form__label {
  padding-left: 20px;
  padding-bottom: 10px;
  color: #666;
}
.form__input {
  height: 45px;
  background: #fafafa;
  padding-left: 20px;
  border: 1px solid rgba(201,200,204,0.2);
}
.form__input:hover {
  border: 1px solid #666;
  background: #fff;
  color: #333;
}
.form__name-warning,
.form__email-warning,
.form__textarea-warning {
  display: none;
  position: absolute;
  bottom: -17px;
  color: #f2264d;
  font-family: 'Source Sans Pro';
  font-size: 14px;
}
.form__name-warning {
  left: 20px;
}
.form__email-warning {
  left: 20px;
}
.form__textarea-warning {
  left: 40%;
}
.form__warning--invalid {
  display: block;
}
.form__text-appeal {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 31px;
  margin-bottom: 40px;
  position: relative;
}
.text-appeal__title {
  padding-left: 20px;
  padding-bottom: 10px;
  color: #666;
}
.text-appeal__text {
  height: 150px;
  border: 1px solid #c9c8cc;
  background: #fafafa;
  resize: none;
}
.text-appeal__text:hover,
.text-appeal__text:focus {
  background: #fff;
  border: 1px solid #666;
}
.form__btn-submit {
  width: 220px;
  height: 46px;
  background-color: #f2264d;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  border: none;
}
.form__btn-submit:hover {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background: #e71e44;
  -webkit-box-shadow: 0px 5px 10px rgba(242,38,77,0.25);
          box-shadow: 0px 5px 10px rgba(242,38,77,0.25);
}
.form__btn-submit:active {
  background: #d7153c;
  -webkit-box-shadow: 0px 5px 10px rgba(242,38,77,0);
          box-shadow: 0px 5px 10px rgba(242,38,77,0);
}
.feedback__modal-window {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}
.modal-window__wrapper {
  position: relative;
}
.modal-window__content {
  width: 580px;
  height: 300px;
  padding: 45px 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  border-radius: 1px;
}
.modal-window__img {
  margin-bottom: 56px;
}
.modal-window__title {
  margin-bottom: 16px;
}
.modal-window__title {
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 30px;
  color: #333;
}
.modal-window__text {
  font-family: 'Source Sans Pro';
  font-size: 16px;
  color: #666;
}
.modal-window__closed {
  width: 22px;
  height: 22px;
  position: absolute;
  left: 103%;
  top: 5%;
  cursor: pointer;
  background: url("../img/feedback__modal-window--closed.png");
}
.birthdays {
  width: 100%;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.birthdays__wrapper {
  width: 1180px;
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 1px solid #e4e4e4;
}
.birthdays__title {
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 30px;
  line-height: 40px;
  color: #333;
  position: relative;
}
.birthdays__title::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  left: 390px;
  background-image: url("../img/birthdays__fireworks.png");
}
.birthdays__reminder {
  font-family: 'Source Sans Pro';
  font-size: 16px;
  line-height: 22px;
  color: #666;
}
.birthdays__staff {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -20px;
}
.birthdays__staff .person {
  width: 23%;
}
.person {
  width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 30px;
  background: -webkit-gradient(linear, left bottom, left top, from(#fff), to(#fff));
  background: linear-gradient(0deg, #fff, #fff);
  border: 1px solid #e4e4e4;
  padding-top: 30px;
  padding-bottom: 25px;
  margin-left: 20px;
  margin-bottom: 20px;
  position: relative;
  word-wrap: break-word;
}
.person .person__avatar,
.person .person__about {
  width: 220px;
  pointer-events: none /* This helps IE */;
}
.person:hover {
  border-color: #f2264d;
  -webkit-box-shadow: 0px 10px 20px rgba(5,2,13,0.1);
          box-shadow: 0px 10px 20px rgba(5,2,13,0.1);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
}
.person:hover::before {
  content: '';
  position: absolute;
  top: 29px;
  right: 30px;
  width: 23px;
  height: 16px;
  background-image: url("../img/birthdays__arrow-right.svg");
}
.person:active {
  border-color: #f2264d;
  -webkit-box-shadow: 0px 10px 20px rgba(5,2,13,0);
          box-shadow: 0px 10px 20px rgba(5,2,13,0);
}
.person__about,
.person__avatar {
  width: 220px;
}
.person__about {
  height: 100%;
}
.person__avatar-image {
  width: 80px;
  border-radius: 50%;
}
.person__name {
  width: 180px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #333;
  margin-top: 20px;
  margin-bottom: 4px;
}
.person__position {
  font-family: 'Source Sans Pro';
  font-size: 14px;
  line-height: 20px;
  color: #ababab;
  margin-bottom: 12px;
}
.person__department {
  font-family: 'Source Sans Pro';
  font-size: 14px;
  line-height: 20px;
  color: #666;
  margin-bottom: 22px;
}
.person__date {
  padding-left: 22px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  position: relative;
}
.person__date::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 17px;
  left: 0%;
  background-image: url("../img/birthdays__gift.png");
}
.footer {
  width: 100%;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid #efefef;
}
.footer__wrapper {
  width: 1180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 34px 0 40px 0;
}
.footer__copyright {
  width: 25%;
  font-family: 'Source Sans Pro';
  font-size: 14px;
  line-height: 20px;
  color: #ababab;
}
.footer__logotypes {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.footer__logotypes-item {
  padding-left: 58px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  opacity: 0.5;
}
.footer__logotypes-item:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  opacity: 1;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
}
.footer__logotypes-item:active {
  opacity: 0.5;
}
